.contactSection {
	padding-bottom: 5vh;
	background-color: #ffffffa8;
}

.contactSection .contactContainer {
	display: flex;
	flex-direction: column;
}

.textContainer p {
	padding-bottom: 0;
	text-align: center;
}

p > a {
	color: #c36a2d;
    text-decoration: none;
}

p > a:hover {
	color: #000;
}

@media screen and (min-width: 1024px) {
	.contactSection .contactContainer {
		flex-direction: row;
		justify-content: space-evenly;
	}
}
